<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<body>
    <p><a href="/details"> Add a student details</a></p>
    <p><a href="/sort1"> Details of All students sorted by age </a></p>
    <p><a href="/sort2"> Details of All students sorted by mark</a></p>
    <p><a href="/remove"> Remove details of a student </a></p>
    <p><a href="/search"> Search details of a student </a></p>
</body>
</html>