<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<body>
<form action='/details' method="POST">
    <div> Student Name <input type="text" name="student_name"></input></div>
    <div> Sex <input type="text" name="sex"></input>
    </div>
    <div> Age <input type="text" name="age"></input></div>
    <div> Mark<input type="text" name="mark"></input></div>
    <div><button type="submit" value="submit">submit</button></div>
</form>
</body>
</html>
